.checkout
{
    padding: 0 12%;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    &-title
    {
        font-size: 2.5rem;
        margin-bottom: 5%;
    }

    &__contain
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        height: auto;


        &-content 
        {
            margin: 112px 30px;
            position: relative;
            display: flex;
            background: $white;
            min-width: 588px;
            border-radius: 10px;
            padding: 150px 80px 80px;
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            align-content: center;

            &-dni
            {
                width: 400px;
                height: 280px;
                position: absolute;
                top: -112px;
                left: 50%;
                transform: translateX(-50%);

                label 
                {
                    font-size: 10px;
                    letter-spacing: 1px;
                    text-shadow: none;
                    text-transform: uppercase;
                    font-weight: normal;
                    opacity: 0.5;
                    display: block;
                    margin-bottom: 3px;
                }

                &-flip 
                {
                    transition: 200ms ease-in-out;
                    transform-style: preserve-3d;
                    position: relative;        
                    
                    &-front
                    {
                        width: 400px;
                        height: 250px;
                        border-radius: 15px;
                        backface-visibility: hidden;
                        background: linear-gradient(45deg,#bed2e0,#e0f2ff 80%,#eef8ff);
                        position: absolute;
                        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);

                        &-chip 
                        {
                            background-image: url(https://http2.mlstatic.com/resources/frontend/buyingflow-frontend-legacy/dist/images/picture-b47309c45d.svg);
                            position: relative;
                            background-repeat: no-repeat;
                            background-size: 5.76923em;
                            height: 6.15385em;
                            top: 80px;
                            left: 40px;
                        }

                        &-number 
                        {
                            position: absolute;
                            margin: 0 auto;
                            top: 103px;
                            left: 11px;
                            font-size: 38px;
                        }

                        &-holder
                        {
                            position: absolute;
                            margin: 0 auto;
                            top: 76px;
                            left: 160px;
                            font-size: 22px;
                            text-transform: capitalize;
                        }

                        &-expiration
                        {
                            text-align: right;
                            left: 15px;
                            position: absolute;
                            margin: 0 auto;
                            top: 195px;
                            font-size: 22px;
                            text-transform: capitalize;

                            div
                            {
                                text-align: center;
                            }
                        }
                    }
                }
            }

            &-card
            {
                width: 400px;
                height: 280px;
                position: absolute;
                top: -112px;
                left: 50%;
                transform: translateX(-50%);

                label 
                {
                    font-size: 10px;
                    letter-spacing: 1px;
                    text-shadow: none;
                    text-transform: uppercase;
                    font-weight: normal;
                    opacity: 0.5;
                    display: block;
                    margin-bottom: 3px;
                }

                &-flip 
                {
                    transition: 500ms ease-in-out;
                    transform-style: preserve-3d;
                    position: relative;        
                    
                    &-front, &-back 
                    {
                        width: 400px;
                        height: 250px;
                        border-radius: 15px;
                        backface-visibility: hidden;
                        background-image: linear-gradient(45deg, rgba(21,162,203,0.8) 15%, rgba(224,42,255,0.8) 100%);
                        position: absolute;
                        color: $white;
                        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
                    
                        &::before 
                        {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            opacity: .05;
                        }

                        &-chip 
                        {
                            position: absolute;
                            width: 60px;
                            height: 45px;
                            top: 20px;
                            left: 20px;
                            background: linear-gradient(135deg, hsl(269,54%,87%) 0%,hsl(200,64%,89%) 44%,hsl(18,55%,94%) 100%);;
                            border-radius: 8px;
                    
                            &::before 
                            {
                                content: '';
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: auto;
                                border: 4px solid hsla(0, 0, 50, .1);
                                width: 80%;
                                height: 70%;
                                border-radius: 5px;
                            }
                        }

                        &-logo 
                        {
                            position: absolute;
                            top: 9px;
                            right: 20px;
                            width: 60px;
                    
                            svg 
                            {
                                width: 100%;
                                height: auto;
                                fill: $white;
                            }
                        }

                        &-number 
                        {
                            position: absolute;
                            margin: 0 auto;
                            top: 103px;
                            left: 11px;
                            font-size: 38px;
                        }

                        &-holder, &-expiration
                        {
                            position: absolute;
                            margin: 0 auto;
                            top: 180px;
                            left: 19px;
                            font-size: 22px;
                            text-transform: capitalize;
                        }

                        &-expiration
                        {
                            text-align: right;
                            left: auto;
                            right: 20px;
                        }
                    }

                    &-back 
                    {
                        transform: rotateY(180deg);
                    
                        &-logo 
                        {
                            top: 185px;
                        }

                        &-strip 
                        {
                            background: linear-gradient(135deg, hsl(0, 0, 25%), hsl(0, 0, 10%));
                            position: absolute;
                            width: 100%;
                            height: 50px;
                            top: 30px;
                            left: 0;
                        }

                        &-ccv 
                        {
                            height: 36px;
                            background: $white;
                            width: 91%;
                            border-radius: 5px;
                            top: 110px;
                            left: 0;
                            right: 0;
                            position: absolute;
                            margin: 0 auto;
                            color: $black;
                            text-align: right;
                            padding: 10px;
                        
                            label 
                            {
                                margin: -25px 0 14px;
                                color: $white;
                            }
                        }
                    }
                }
            
                &.hover .checkout__contain-content-card-flip 
                {
                    transform: rotateY(180deg);
                }
            }

            &-form 
            {

                fieldset 
                {
                    border: none;
                    padding: 0;
                    padding: 10px 0;
                    position: relative;
                    clear: both;
              
                    &.fieldset-expiration 
                    {
                        float: left;
                        width: 60%;
                        
                        & .select 
                        {
                            width: 84px;
                            margin-right: 12px;
                            float: left;
                        }
                    }
                
                    &.fieldset-ccv 
                    {
                        clear: none;
                        float: right;
                        width: 86px;
                    }
                
                    label 
                    {
                        display: block;
                        font-size: 1rem;
                        margin-bottom: 5px;
                    }
                
                    input, .select 
                    {
                        width: 100%;
                        height: 38px;
                        font-size: 15px;
                        border-bottom: 1px solid #ccc;
                        outline: none;
                        padding: 10px 5px;
                
                        &.input-cart-number 
                        {
                            width: 82px;
                            display: inline-block;
                            margin-right: 8px;
                
                            &:last-child 
                            {
                                margin-right: 0;
                            }
                        }
                    }
              
                    .select 
                    {
                        &::after 
                        {
                            content: '';
                            z-index: 2;
                            pointer-events: none;
                        }
                
                        select 
                        {
                            width: 100%;
                            outline: none;
                        }
                    }
                }
            }

            &-form-two
            {

                fieldset 
                {
                    border: none;
                    padding: 0;
                    padding: 10px 0;
                    position: relative;
                    clear: both;
                }

                .double-fieldset
                {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    align-content: center;

                    fieldset
                    {
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                }

                label 
                {
                    display: block;
                    font-size: 1rem;
                    margin-bottom: 5px;
                }

                input
                {
                    width: 100%;
                    height: 38px;
                    font-size: 15px;
                    border-bottom: 1px solid #ccc;
                    outline: none;
                    padding: 10px 5px;
                }
            }

            &-button
            {
                display: flex;
                margin-top: 60px;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                &-next
                {
                    padding: 16px 32px;
                    background-color: #4aabff;
                    background-image: linear-gradient(to right, #4aabff 0%, #fc42ff 51%, #4aabff 100%);
                    background-size: 250% auto;
                    color: $white;
                    border-radius: 10px;
                    max-width: 200px;
                    text-align: center;
                    cursor: pointer;
                    transition: 0.5s ease-in-out;
                }

                &-back
                {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    align-content: center;
                    cursor: pointer;
                    float: right;
                }

                #formError
                {
                    display: none;
                }
            }
        }

        &-details
        {
            display: flex;
            flex-direction: column;
            align-content: space-between;
            justify-content: center;
            align-items: center;
            max-width: 600px;
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
            padding: 6% 2%;
            border-radius: 10px;
            background-image: linear-gradient(45deg, rgba(21,162,203,0.8) 15%, rgba(224,42,255,0.8) 100%);
            color: $white;
            z-index: 0;

            &-title
            {
                font-size: 2rem;
                font-weight: 600;
            }

            &-content
            {
                display: flex;
                flex-direction: row;
                align-content: center;
                align-items: center;
                margin-bottom: 10px;
                border-bottom: 1px solid #ccc;
                padding: 25px 20px;

                &-img
                {
                    width: 100px;
                    height: 100px;
                    min-width: 100px;
                    margin-right: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                &-title
                {
                    font-size: 1.5rem;
                    text-align: center;
                    margin-right: 30px;
                    text-align: center;
                }

                &-quantity
                {
                    font-size: 1rem;
                    margin-right: 30px;
                    text-align: center;
                }

                &-subtotal
                {
                    font-size: 1rem;
                    margin-right: 30px;
                    text-align: center;
                }
            }

            &-total
            {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: center;

                &-title
                {
                    font-size: 2rem;
                }

                &-currency
                {
                    margin: 20px 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    flex-direction: column;
                }

                .knobs, .layer
                {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                .button
                {
                    position: relative;
                    top: 50%;
                    width: 74px;
                    height: 36px;
                    overflow: hidden;
                }

                .button.r, .button.r .layer
                {
                    border-radius: 100px;
                }

                .button.b2
                {
                    border-radius: 2px;
                }

                .checkbox
                {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    margin: 0;
                    opacity: 0;
                    cursor: pointer;
                    z-index: 3;
                }

                .knobs
                {
                    z-index: 2;
                }

                .layer
                {
                    width: 100%;
                    background-color: #ebf7fc;
                    transition: 0.3s ease all;
                    z-index: 1;
                }

                #dolarButton .knobs:before
                {
                    content: 'AR$';
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    width: 20px;
                    height: 10px;
                    color: $white;
                    font-size: 10px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 1;
                    padding: 9px 4px;
                    background-color: $blue;
                    border-radius: 50%;
                    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
                }

                #dolarButton .checkbox:active + .knobs:before
                {
                    width: 46px;
                    border-radius: 100px;
                }

                #dolarButton .checkbox:checked:active + .knobs:before
                {
                    margin-left: -26px;
                }

                #dolarButton .checkbox:checked + .knobs:before
                {
                    content: 'U$D';
                    left: 42px;
                    background-color: $pink;
                }

                #dolarButton .checkbox:checked ~ .layer
                {
                    background-color: #fcebeb;
                }
            }
        }
    }
}