*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
  font-family: 'Open Sans', sans-serif;
	vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html{
    scroll-behavior: smooth;
}


