.productos__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: flex-start;

    &-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        margin: 60px 30px;
        padding: 30px 10px;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
        transition: 200ms ease-in-out;
        width: 250px;
        min-height: 350px;
        z-index: 0;
        
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-content: center;

            h2 {
                font-size: 1rem;
                text-align: center;
            }
    
            img {
                padding: 5px 5px;
                max-width: 215px;
                max-height: 215px;
            }
        }


        &-price {
            font-size: 1.5rem;
            font-weight: 500;
        }

        &-description {
            display: none;
            text-align: center;
            position: absolute;
            margin-top: 10px;
            color: rgba(0, 0, 0, 0.6);
            font-size: 1rem;
            top: 330px;
        }

        &-buy {
            margin-top: 11px;
            position: absolute;
            top: 372px;
            display: none;

            &-link {
                padding: 10px 20px;
                background-image: linear-gradient(
                    to right,
                    $blue 0%,
                    $pink 51%,
                    $blue 100%
                );
                box-shadow: 0 0 20px $white;
                background-size: 250% auto;
                color: $white;
                border-radius: 10px;
                font-weight: 600;
                transition: 0.5s;
                cursor: pointer;
                margin: 0 25px;

                &:hover {
                    background-position: right center;
                    color: $white;
                }
            }

            .bi-cart3 {
                color: $blue;
                transition: 200ms ease-in-out;
                cursor: pointer;

                &:hover {
                    color: $pink;
                }
            }

            .bi-heart {
                color: $blue;
                transition: 200ms ease-in-out;
                cursor: pointer;

                &:hover {
                    color: $pink;
                }
            }
        }
        &:hover {
            transform: scale(1.02);
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);

            .productos__row-card-description {
                display: block;
                max-width: 250px;
                background-color: $white;
                box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.15);
                overflow-y: scroll;
                max-height: 45px;
            }

            .productos__row-card-buy {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                align-content: center;
                width: 100%;
                background-color: $white;
                padding: 13px 0;
                box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
                border-radius: 5px;
            }
        }
    }
}
