.header {
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #15a2cb), to(#e02aff));
  background: linear-gradient(90deg, #15a2cb 15%, #e02aff 100%);
  position: fixed;
  top: 0%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.header-logo {
  width: 150px;
  height: auto;
  cursor: pointer;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.header__form-search {
  border: 1px solid #000;
  height: 39px;
  width: 600px;
  border: 0 rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  padding: 10px 15px;
  outline: none;
}

.header__form-search::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.header__form-search:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.header__form-search::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.header__form-search::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.header__form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 39px;
  width: 39px;
  cursor: pointer;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #fff;
}

.header__form-submit svg {
  color: #4aabff;
  width: 50%;
  height: auto;
  margin-right: 15px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.header__form-submit svg:hover {
  color: #fc42ff;
}

.header__navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__navbar-list-item {
  padding: 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__navbar-list-item-categoria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 220px;
  top: 70px;
  height: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.header__navbar-list-item-categoria-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__navbar-list-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  position: relative;
  cursor: pointer;
}

.header__navbar-list-item-title-counter {
  position: absolute;
  right: -6px;
  top: -15px;
  font-size: 13px;
}

.header__navbar-list-item-title svg {
  margin-left: 5px;
}

.productos {
  padding: 0 6%;
  margin-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productos-title {
  font-size: 2.5rem;
  margin-bottom: 5%;
}

.productos__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.productos__row .lds-dual-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  z-index: 1;
}

.productos__row .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fc42ff transparent #4aabff transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.productos__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.productos__row-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 30px;
  padding: 30px 10px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  width: 250px;
  min-height: 350px;
  z-index: 0;
}

.productos__row-card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.productos__row-card a h2 {
  font-size: 1rem;
  text-align: center;
}

.productos__row-card a img {
  padding: 5px 5px;
  max-width: 215px;
  max-height: 215px;
}

.productos__row-card-price {
  font-size: 1.5rem;
  font-weight: 500;
}

.productos__row-card-description {
  display: none;
  text-align: center;
  position: absolute;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  top: 330px;
}

.productos__row-card-buy {
  margin-top: 11px;
  position: absolute;
  top: 372px;
  display: none;
}

.productos__row-card-buy-link {
  padding: 10px 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#4aabff), color-stop(51%, #fc42ff), to(#4aabff));
  background-image: linear-gradient(to right, #4aabff 0%, #fc42ff 51%, #4aabff 100%);
  -webkit-box-shadow: 0 0 20px #fff;
          box-shadow: 0 0 20px #fff;
  background-size: 250% auto;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  margin: 0 25px;
}

.productos__row-card-buy-link:hover {
  background-position: right center;
  color: #fff;
}

.productos__row-card-buy .bi-cart3 {
  color: #4aabff;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.productos__row-card-buy .bi-cart3:hover {
  color: #fc42ff;
}

.productos__row-card-buy .bi-heart {
  color: #4aabff;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.productos__row-card-buy .bi-heart:hover {
  color: #fc42ff;
}

.productos__row-card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

.productos__row-card:hover .productos__row-card-description {
  display: block;
  max-width: 250px;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.15);
  overflow-y: scroll;
  max-height: 45px;
}

.productos__row-card:hover .productos__row-card-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  background-color: #fff;
  padding: 13px 0;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.productos__row-card-buy-quantity-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  border: 1px solid #fff;
  padding: 3% 2%;
  border-radius: 8px;
}

.productos__row-card-buy-quantity-container-stock {
  font-size: 1rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
}

.productos__row-card-buy-quantity-container-title {
  color: #fff;
}

.productos__row-card-buy-quantity-container-apply {
  border-radius: 10px;
  cursor: pointer;
  padding: 3px 10px;
  color: #fff;
  background-color: transparent;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  font-size: 1rem;
  border: 1px solid #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  margin-right: 10px;
  border: 1px solid transparent;
}

.productos__row-card-buy-quantity-container-apply:hover {
  border: 1px solid #fff;
  color: #fff;
}

.productos__row-card-buy-quantity-container-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productos__row-card-buy-quantity-container-selector svg {
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.productos__row-card-buy-quantity-container-selector label {
  color: #fff;
}

.productos__row-card-buy-quantity-container-selector input {
  width: 50px;
  text-align: center;
  outline: none;
  -webkit-appearance: none;
  background-color: #fff;
}

.productos__row-card-buy-quantity-container-selector input::-webkit-outer-spin-button,
.productos__row-card-buy-quantity-container-selector input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.product__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product__detail-b1 {
  background-color: #fff;
  padding: 6% 3%;
  border-radius: 8px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
  margin-right: 100px;
  width: 500px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.product__detail-b1-img {
  max-width: 370px;
  max-height: 425px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.product__detail-b1-img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.product__detail-b2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background-image: linear-gradient(45deg, rgba(21, 162, 203, 0.8) 15%, rgba(224, 42, 255, 0.8) 100%);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
  padding: 0 3%;
  color: #fff;
  height: 480px;
  max-width: 750px;
  z-index: 0;
}

.product__detail-b2-buy {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  top: 685px;
  width: 300px;
  height: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
}

.product__detail-b2-buy-link {
  padding: 10px 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#4aabff), color-stop(51%, #fc42ff), to(#4aabff));
  background-image: linear-gradient(to right, #4aabff 0%, #fc42ff 51%, #4aabff 100%);
  -webkit-box-shadow: 0 0 20px #fff;
          box-shadow: 0 0 20px #fff;
  background-size: 250% auto;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  margin: 0 25px;
}

.product__detail-b2-buy-link:hover {
  background-position: right center;
  color: #fff;
}

.product__detail-b2-buy .bi-cart3 {
  color: #4aabff;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.product__detail-b2-buy .bi-cart3:hover {
  color: #fc42ff;
}

.product__detail-b2-buy svg {
  color: #4aabff;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.product__detail-b2-buy svg:hover {
  color: #fc42ff;
}

.product__detail-b2-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.product__detail-b2-price {
  font-size: 2rem;
  margin-bottom: 30px;
}

.product__detail-b2-description {
  width: 450px;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-top: 1px solid #ccc;
  padding-top: 30px;
}

.product__detail-b2-description-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.product__detail-b2-description-text {
  margin-bottom: 30px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */